* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #faf0f0;
}
#topbar {
  width: 100%;
  height: 50px;
  background-color: red;
  display: flex;
  align-items: center;
}

.contact {
  width: 50%;
  margin-left: 50px;
  display: flex;
  column-gap: 50px;
}

.lan {
  width: 50%;
  display: flex;
}

.mobile > p,
.email > p {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  column-gap: 10px;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#container {
  display: flex;
  column-gap: 20px;
}
.text {
  width: 50%;
}

img {
  width: 50%;
  margin-top: 20px;
  border: 10px solid white;
  border-radius: 10px;
}
